*.db
*.db-*
*.local
.DS_Store
.cache
.env
.env.development
.env.local
.env.sentry-build-plugin
.hidden
.mastra
.nitro
.output
.tanstack
.tanstack-start
.vercel
.vinxi
/api/
/blob-report/
/build/
/playwright-report/
/playwright/.cache/
/public/build
/server/build
/test-results/
(gen)
dist
dist-ssr
node_modules
output.txt
package-lock.json
yarn.lock
src/routeTree.gen.ts